<!doctype html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<title>Ex: Top Secret</title>
	<link rel="stylesheet" type="text/css" href="/static/jsPlumbToolkit-defaults.css">
	<link rel="stylesheet" type="text/css" href="/static/funk.css">
</head>
<body>
	<div class="permission-demo jtk-surface" id="funk-canvas">
	</div>
	<script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/static/jsPlumb-2.1.7-min.js"></script>
	<script type="text/javascript" src="/api/nodetypes"></script>
	<script type="text/javascript" src="/static/funk.js"></script>
	<script type="text/javascript">
		jsPlumb.ready(function () {

			funk_init('funk-canvas');

		});
	</script>
</body>