<!doctype html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<title>Funk</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>

    <div class="container">
        <div id="graph-list" class="row">
            <div class="col-md-8">
                <h1>Graphs</h1>
            </div>
            <div class="col-md-4 text-right">
                <h1>
                    <div class="input-group">
                        <input type="text"
                               v-model="graphname"
                               v-on:keyup.enter="createGraph"
                               class="form-control"
                               placeholder="New Graph">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" v-on:click="createGraph">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </h1>
            </div>
            <div class="col-md-12">
                <table class="table">
                    <col width="25%"/>
                    <col width="25%"/>
                    <col width="25%"/>
                    <col width="25%"/>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr is="graph-tr"
                        v-for="graph in graphs"
                        :key="graph.name"
                        :graph="graph"
                        v-on:delete-graph="deleteGraph"></tr>
                </table>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="graph-tr-template">
        <tr>
            <td><a :href="href">{{graph.name}}</a></td>
            <td>{{graph.time_created | formatTimestamp}}</td>
            <td>{{graph.time_modified | formatTimestamp}}</td>
            <td class="text-right">
                <div class="input-group" v-if="confirm" v-on:mouseleave="confirm=false">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button" v-on:click="deleteGraph">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                    <span class="input-group-addon">Confirm Delete</span>
                </div>
                <button class="btn btn-default" v-on:click="confirm=true" v-else>
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </script>

	<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/vue.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
</body>